[2021-11-24 06:53] poerlang opened #6 "injection "Symbol()" not found"
![image](https://user-images.githubusercontent.com/3243514/143189134-b73e8791-760b-4cca-884b-49e3e0cbdab4.png)

test in chrome 95 (64)

[tmpflow.zip](https://github.com/bcakmakoglu/vue-flow/files/7593343/tmpflow.zip)

[2021-11-24 08:52] bcakmakoglu commented on #6
Yeah that "issue" is known to me.
It happens as the Vue Flow uses a pinia store which is provided into the context with an injection.
[code]
On first call there is no injection to be found (which is intended) and the warning is thrown even though a default value is set. From what I know undefined is a valid default value.

I'm looking to work around it somehow, usually setting a default value shou

[2021-11-25 07:43] poerlang opened #8 "drag-n-drop doesn't seem to work"
https://vueflow.dev/examples/drag-n-drop

![11](https://user-images.githubusercontent.com/3243514/143399795-7ae5edc8-b752-4379-9920-4e392ee90b9f.gif)

drag-n-drop doesn't seem to work

[2021-11-25 07:50] bcakmakoglu commented on #8
Thanks, I will check it out

[2021-11-25 18:42] bcakmakoglu commented on #8
@poerlang
Fixed in Versions ^0.2.x - You can check it out on the [example page](https://vueflow.dev/examples/drag-n-drop)

[2021-11-25 18:42] #8 closed

[2021-11-28 10:21] bcakmakoglu commented on #6
I could work around the warning by removing injections completely.
That would require the flow component to have a unique ID though, otherwise it'll be a little difficult to discern which store is the correct one for which flow component.

I'll try it out and see if it actually works and if it does will probably add it to one of the next releases.

[2021-11-28 23:04] bcakmakoglu commented on #6
turns out the issue has nothing to do with my injections and is coming from pinia which is using `Symbol()` in production mode as it's injection key and doesn't provide a default which of course ends with a warning.
I'll have to ask there if there is a solution or if this is a issue that needs fixing.
I'm leaving this issue open to track it.

[2021-12-01 09:59] bcakmakoglu commented on #6
@poerlang
If you're interested to know:
The Pinia dev didn't seem to interested in fixing the warning so I worked up something myself and got it fixed.
The ^3.x.x release will not be throwing any more injection warnings! 🥳

[2021-12-02 01:19] poerlang commented on #6
@bcakmakoglu  Well done Well done

[2021-12-02 01:19] #6 closed

[2021-12-02 02:29] hurbanom opened #13 "dragndrop is not working"
I'll try to use dragndrop example, but I'm getting many errors

I'm testing the library with laravel-mix, and when I try to compile gives me this error:

![image](https://user-images.githubusercontent.com/13169697/144346356-861440ab-6d48-420d-9fbe-9e4d4cef3d7a.png)

And the method onDrop it isn't fire,

I hope somebody can help me!

Regards

[2021-12-02 06:47] bcakmakoglu commented on #13
@hurbanom
Are you using Vue3 with Laravel-Mix?
Also "FlowInstance" is a typescript interface - not an actual class to use.
If you're not using TypeScript you shouldn't be importing it.

[2021-12-05 07:56] #13 closed

[2021-12-05 07:56] bcakmakoglu commented on #13
Closed this due to unresponsiveness.

[2021-12-09 17:33] vladsvd opened #15 "Nesting support"
Thanks for a great project.
Do you plan to support nesting nodes?
There are two types of nesting:
1. When we need to find out and display which block (group) the nodes belong to.
![145136647-90228261-a91e-46f0-9c58-6c0a24a5f136](https://user-images.githubusercontent.com/17870139/145446625-676673af-7405-49de-8816-f05c5ecac10b.jpg)
2. When we need to be able to connect groups in each other
<img widt

[2021-12-10 06:25] bcakmakoglu commented on #15
Hi and thank you for using Vue Flow :)

I am not sure I am fully understanding what you're trying to accomplish.

1. You're trying to assign a "group" to a node and then order nodes by their group?

2. Can you possibly draw what you're trying to connect? So I can see what you specifically mean. Is it supposed to be a connection from Node 4 to Node 4b?

But:
I'll have to think about this suggestion

[2021-12-10 12:02] bcakmakoglu commented on #15
@vladsvd
I've thought about this and I don't think "nesting" is something that's in scope of the library.
You can however very well create a feature to create a sort of "nesting" of your nodes.

I've created an Example and I'm guessing you're looking for something like that.
Connecting Nodes that are inside of other nodes can become problematic due to the z-index. You'll have to play around with t

[2021-12-10 16:00] vladsvd commented on #15
Thanks for the quick response.
Yes, that's about what I need.
Since this project is a port from the react-flow project, this innovation will soon be there.
There is a discussion at this link. I would very much like this functionality to appear.
[https://github.com/wbkd/react-flow/discussions/1024#discussioncomment-1512393](https://github.com/wbkd/react-flow/discussions/1024#discussioncomment-15123

[2021-12-10 16:15] bcakmakoglu commented on #15
Well I didn't see that PR tbh as I didn't check back on react-flow for a while 😅
**But** thankfully you reminded me and I can for sure replicate the functionality that is being offered in their major release. At least I expect to be able to, so with that said I will have to check out the newest changes and work on an implementation that'll work for Vue :)

I might be able to get it done this weeke

[2021-12-11 23:53] bcakmakoglu commented on #15
Just a heads up!
Nesting will works pretty much now - i've decided to use the `children` api instead of the `parentNode` one.
I'll explain it in detail in the docs.

But if you're using Vue Flow currently and want to use the nesting feature be prepared for possible breaking changes between versions

[2021-12-12 14:00] vladsvd commented on #15
Ничего страшного. Я сам в поисках решения своих идей.

[2021-12-14 13:27] bcakmakoglu commented on #15
Another update:
I'm currently in the process of cleaning up and checking for remaining minor bugs.
Expect a stable release some time this week if everything goes well :)

[2021-12-20 18:26] bcakmakoglu commented on #15
@vladsvd
I'm going to create a pre-release for `v0.4.0` (`v0.4.0-x`) today, which includes the nesting-feature, as it will take a while to re-write the documentation to match the current implementation.
You can check the examples to get an idea on how to use it properly, though I hope to get the documentation done by new years.

If you do check it out, let me know if you have any issues/problems t

[2021-12-27 03:59] a290079770 opened #19 "Is Vue3 currently used capable of supporting Vue2.x?"
I'm considering using this awesome component for the existing Vue2.x project, but I found that this component is written in Vue3 and is incompatible.
Do you think it will be compatible with Vue2.x?
thank you

[2022-01-10 16:44] vvroul opened #23 "Nuxt 3 CJS and ES module - warning"
Hello!

I'm creating a new Nuxt 3 app using vue-flow and while everything works correctly, I'm getting the below warning (sorry for the low resolution, click to view) :

![nuxt3-warning](https://user-images.githubusercontent.com/8313366/148803598-bad074bc-824e-43c2-a7b3-8d755d448417.png)

[2022-01-10 23:30] bcakmakoglu commented on #23
Thanks for pointing it out - I noticed it too and will be looking at it asap :)

[2022-01-18 14:07] marcoschwartz opened #25 "Not working with Nuxt 3"
Hello,

First thanks for your project! It seems amazing and we really want to integrate it as the flow builder for our apps. However we are using Nuxt 3 and I can't find a way to make it work. I tried copying & pasting the minimal example that is in the GitHub main page, as well as the one from the documentation site (Basic.vue), but it just doesn't show anything on the page.

Is there anything sp

[2022-01-18 18:58] bcakmakoglu commented on #25
Hi :)
Can you explain the problem you're having a little more in detail?
What exactly doesn't work? The Documentation of Vue-flow is built with Nuxt3 so it should work as described.

[2022-01-18 19:08] marcoschwartz commented on #25
Thanks for the fast answer! I copied exactly the minimal example from the GitHub repo homepage into a nuxt template, actually there are no errors just nothing is showing on the screen. I also added the css files.

[2022-01-18 19:33] bcakmakoglu commented on #25
Mh... so does the app not render at all or just the Vue Flow component?
What node version are you using?

there are no errors in the browser console? in the node console? anything to go on would help :D

[2022-01-18 19:48] marcoschwartz commented on #25
Just the vue flow part - the rest runs smoothly. And I am using node 17. I ll try some code from the example folder to see if I can see some error at some point :)

[2022-01-18 20:14] bcakmakoglu commented on #25
Mh... if you're using the exact same code the only difference that comes to mind is the node version (14 atm but I think i tested it with 16 too) - could you try any of  those versions and see if anything changes?

Could you also try cloning the [docs](https://github.com/bcakmakoglu/vue-flow-docs) and see if that works?

[2022-01-19 07:17] marcoschwartz commented on #25
So ... I tried with Node 17, 16 and 14 - no changes at all.

I also tried to change the code I was using (from the homepage of your GitHub repo) to the one you are using in your example (for example it uses v-model instead of elements as an attribute of VueFlow). With that I was finally able to see some warnings:

runtime-core.esm-bundler.js:38 [Vue warn]: Hydration node mismatch:
- Client vnode:

[2022-01-19 11:27] marcoschwartz commented on #25
Not sure if this can help but I also tested a pure Vue3 version, same issue. I also tested the React library - works like a charm :)

[2022-01-19 12:21] marcoschwartz commented on #25
Just managed to make it work - was a CSS files issues after all, so definitely not related to your library. Thanks for the help!

[2022-01-19 12:21] #25 closed

[2022-01-19 13:45] bcakmakoglu commented on #25
No problem and glad to hear it resolved itself - the best sort of issue :D

[2022-01-24 17:06] zt7584 opened #26 "Connection line always comes from first handle if there are multiple handles in custom node"
Hi Braks,

Thank you for creating this library for Vue! This library is awesome.

I recently found out a small issue when trying to work with custom node. I found that when I try to drag and connect from one handle of my custom node to another node, the connection line always got plotted from the first handle that I defined for my custom node. This behavior seems to happen in the demo/examples as

[2022-01-24 19:57] bcakmakoglu commented on #26
Hi!
Thanks for noticing the issue - I will check it out asap. You are of course free to dive in and if you find a solution, please open a PR =)
But I will look into it!

[2022-01-25 00:20] zt7584 commented on #26
Hi Braks, thanks for the quick response! I was trying to dive into the code of master, and I actually found that this is fixed in master branch, the v0.4.0-0.

I was able to recreate this with tag v0.3.1. I think the issue may be because connectionHandleId was not able to get updated and passed correctly to ConnectionLine. The v0.4.0-0 seems to make a lot of refactoring around this area. That's my

[2022-01-25 08:57] bcakmakoglu commented on #26
Ah, I've been absent from this project for a bit as I've started a new job this year so there might be bugs that have already been fixed with the upcoming version.
As of now 0.3.x will be deprecated and 0.4.x will include new features/bug fixes.

The release is pretty much done, I'm just stuck at writing the docs properly as that takes a little bit of time, seeing as there's been big changes in th

[2022-01-25 20:43] zt7584 commented on #26
Hi Braks, got it, thanks for the insights! Looking forward to the new release!

[2022-02-11 09:07] vvroul opened #28 "Total JS heap size increases as the length of total elements in the graph increases."
Watching the heap snapshot while have created 200+ nodes and their respective edges, total heap size grows up to 1GB
and navigation (alongside any other functionality in the flow pane) is also lagging. That behavior is also noticeable in the "Empty" example of the Vue flow, while adding many nodes.

[2022-02-11 12:32] bcakmakoglu commented on #28
Just did a quick check on the v0.4.x release and doesn't seem to be an issue there anymore.
200+ nodes seem to result in a heap size of ~30mb and no lags whatsoever.

I'll be closing the issue for now as i won't be adding new updates to v0.3.x (*it will be deprecated soon*) and the problem doesn't occur in the next release.

[2022-02-11 13:55] vvroul commented on #28
Returning to this issue again, I tried installing the pre-release version with `yarn add @braks/vue-flow@next`.
Is the issue fixed with this pre-release version or I need to wait for the stable release to test for the changes?

Just a note for testing : I'm adding 200+ nodes one by one while clicking let's say, on the pane, not in a for loop for example.
Indeed rendering the elements in a for loop

[2022-02-11 13:59] bcakmakoglu commented on #28
I believe the next tag doesn't have the actual latest changes as I've been absent for a while.
Will check though if I can reproduce it - btw what Browser(s) were you using?

[2022-02-11 14:00] vvroul commented on #28
I'm using Google Chrome but I've noticed this issue on Firefox also.

[2022-02-14 12:58] vvroul commented on #28
Hello, do you have any updates on this issue?

[2022-02-14 13:54] bcakmakoglu commented on #28
@vvroul
Sadly no, I can re-create *an issue* by for example using the Stress-Example, switching to another Example and switching back to the Stress-Example, which causes the heap to grow and grow with each switch, i.e. it seems that state objects aren't collected properly as the amount of Objects/Arrays seems to exactly double.
I've been looking into it, trying to clear all references to the state

[2022-02-21 15:52] Dimonka2 opened #29 "Vue3, Quasar: module not found"
Hi,
I am trying to add vue-flow into a Quasar app and getting a strange error message as soon as I include VueFlow as a component to a vue template script:

The error looks a bit weird and google unable help me.. Do you have any idea how to solve this error?
The import code is taken from samples. and line `components: {}` breaks compilation:

[code]

Thanks!

[2022-02-21 16:43] bcakmakoglu commented on #29
Ah, I think I know what the issue here is though there's not fix for it at the moment, I am really sorry about that.
*BUT!* It will be fixed in the upcoming v0.4.0 Release which should be done in the next couple weeks - the only thing really missing is the documentation.

Again: Sorry for the inconvenience.

[2022-02-21 17:04] Dimonka2 commented on #29
No problem.
Just this component is exactly what I was looking for. And there is no real free alternative for it..
Hopefully you will manage to make it compatible with Quasar.

[2022-02-21 20:04] bcakmakoglu commented on #26
This got auto-closed with merge - was unintended.
I will leave this open until 0.4.0 is actually released.

[2022-02-21 20:05] bcakmakoglu commented on #23
This got auto-closed with merge - was unintended.
I will leave this open until 0.4.0 is actually released.

[2022-02-21 20:11] bcakmakoglu commented on #29
This got auto-closed with merge - was unintended.
I will leave this open until 0.4.0 is actually released.

@Dimonka2
I just published the pre-release v0.4.0-1 (i.e. the @next-Tag) which you can use with Quasar. I just created an example and it worked with no issues 🚀
<img width="851" alt="image" src="https://user-images.githubusercontent.com/78412429/155020584-2c6c87f3-bb2b-4873-a0f3-2dda8ec22648

[2022-02-22 09:02] Dimonka2 commented on #29
Hi @bcakmakoglu ,
Now I am getting an error during npm installation of package:
`verbose stack Error: Unsupported URL Type "link:": link:.`

Googling it seems to show me that `yarn` does support "link" as protocol, but `npm` requires "file". Or maybe I am misinterpreting what I have read.

[2022-02-22 09:39] bcakmakoglu commented on #29
@Dimonka2

Try release 0.4.0-2 and let me know if that still throws errors.

[2022-02-22 09:51] Dimonka2 commented on #29
@bcakmakoglu
Now it look like compiled and even can be inserted into the app, but in dev mode I got following:

[code]

[2022-02-22 09:53] bcakmakoglu commented on #29
Try
[code]

[2022-02-22 10:17] Dimonka2 commented on #29
Currently it got to work like this:

[code]

But I cannot see anything on the screen..
Here is a piece of a template where I am inserting VueFlow:

[code]

[2022-02-22 10:23] bcakmakoglu commented on #29
Elements has been deprecated as a prop, use either v-model or `:nodes="nodes"` and `:edges="edges"`
[code]

[2022-02-22 11:22] Dimonka2 commented on #29
@bcakmakoglu  Thank you so much! It is working now!

[2022-02-22 11:24] bcakmakoglu commented on #29
@Dimonka2
Glad I could help! :)

[2022-02-25 10:18] Dimonka2 opened #30 "Edge g container is cutting connectors"
Hi,
Just found one issue that making connectors pretty unusable.
The SVG group element (with classes .vue-flow__edges .vue-flow__container) is holding all the connectors and has a size of Flow visible area. When the flow diagram is not fitting the screen size nodes are displayed properly, but all connectors are getting cut by initial view frame.
To reproduce it you would need to have two nodes and

[2022-02-26 02:35] bcakmakoglu commented on #30
Can you provide a screenshot or something that shows the issue?

[2022-03-07 10:21] Dimonka2 commented on #30
Hi @bcakmakoglu , sorry I had to take a week off.
I have this issue in Chromium (Electron). Basically flow contains an svg element with all connectors that has a style `.vue-flow__edges` that contains `overflow: visible;`. And it does not work in Chromium.. I found this bug report about it:
https://bugs.chromium.org/p/chromium/issues/detail?id=231577

[2022-03-07 12:05] bcakmakoglu commented on #30
I will take a look - the issue seems to be really old and supposedly fixed so it's strange the behavior still occurs.
It's only affecting Chromium for you? No issues in Firefox or regular Chrome?

[2022-03-07 13:58] Dimonka2 commented on #30
I haven't tried anything else, but I am using (I believe) the latest Electron.
So possibly latest Electron does not use the latest Chromium (not sure how to check that)..

On a separate note: `overflow: visible` is grayed out in the devtools of the window, so it seems that even devtools recognizing this behavior as a sort of "feature" of the Chromium.

Just an idea - maybe it is possible to someho

[2022-03-07 19:09] bcakmakoglu commented on #30
@Dimonka2
Interesting idea - I will try and see what I can do and hopefully find a solution to get it working with Electron :)

[2022-03-12 16:31] yooki0328 opened #34 "panOnScroll not work"
hi~ Is scroll supported as a move option?

I run the example code, but it's not work. could you help me?

https://github.com/wbkd/react-flow/issues/1417

[2022-03-12 17:43] bcakmakoglu commented on #34
Hello!

`panOnScroll` does work as intended.
You have to activate it using the `zoomActivationKeyCode`.
By default it is set to `Meta`, but if you're for example on Windows it'll be hard to find the "Meta"-Key.
Set it to `Shift` and you should be able to just press Shift + Mouse Scroll to move around the pane.
If you have a mouse with a horizontal wheel (I have a Logitech here that has one) you ca

[2022-03-12 18:10] yooki0328 commented on #34
[code]
when i do a scroll action, but the performance is zoom-in or zoom-out

[2022-03-12 18:12] yooki0328 commented on #34
I run the InteractionExample, but the performance is also zoom-in or zoom-out.

[2022-03-12 18:18] bcakmakoglu commented on #34
It should be `Shift` not `shift` (that's a specc from the browser, not my idea to capitalize the key names 😅)

[2022-03-12 18:26] yooki0328 commented on #34
Oh~ my fault!

I want to display like this. but it's not work.  https://codesandbox.io/s/xenodochial-yalow-1pgk6
do the scroll action, I want to perform this operation to scroll instead of zoom. 😊

[2022-03-12 18:59] bcakmakoglu commented on #34
You mean panOnScroll without having to press a key?
That doesn't work in 0.3.x currently, sorry 😢
Currently the pan-mode is only working if a key is also pressed (unlike the example you showed where it just activates on scroll).

I can change that for the 0.4.0 release though.

[2022-03-12 19:10] yooki0328 commented on #34
yeah! sometimes panOnScroll means move by scroll. If it's true  and you want to zoom-in or zoom-out, you can specify zoomActivationKeyCode.
thx very much! Looking forward to version 4.0！😝

[2022-03-12 19:12] bcakmakoglu commented on #34
Yeah, I thought of implementing it this way:
`zoomActivationKeyCode` will be `undefined` by default.
If a keyCode is given, it will be mandatory to use said key to activate either zoom or pan/scroll.
If none is given the modes are available without a key.
Disabling the modes would just work by setting `zoomOnScroll` and/or `panOnScroll` to false.

Does that cover your use case?

[2022-03-13 04:59] yooki0328 commented on #34
Yeah！ The solution can cover my use case! 😬

[2022-03-13 20:04] eminaigoritma opened #35 "Is is possible to use vue-flow component in non-typescript Vue3 project?"
Hi @bcakmakoglu ,

Thank you for an amazing product. We want to integrate it in our own Vue3 project, which is not written in typescript. Is it possible to partially integrate this component, or shall we first convert the project to typescript?

And would you be OK to support us to integrate this plugin for our own custom needs? We would be more than happy to compensate for it.

[2022-03-14 10:47] bcakmakoglu commented on #35
Hi!

Sure, you can use Vue Flow without TypeScript.
If you're using webpack or vite you should be good with ES-6 syntax (i.e. `import ... from '@braks/vue-flow'` instead of `const ... = require('@braks/vue-flow')`)
[code]

or if you're using the Options-API

[code]

Regarding help with your integration, if you can give me a contact I'll message you about that :)
Otherwise discussions are always op

[2022-03-14 10:48] #34 closed

[2022-03-16 15:11] bcakmakoglu commented on #35
@eminaigoritma
Just sent you a mail :)

[2022-03-16 15:11] #35 closed

[2022-03-18 09:03] Dimonka2 commented on #30
I found a simple fix for my case. Not very universal, but at least working. Adding something like:

[code]
resolving the issue in the area of 2000x2000 what is just enough for me.

[2022-03-18 13:53] bcakmakoglu commented on #30
Haven't found a reliable solution yet, so I might patch this in a 0.4.x release as to not delay it further.

[2022-03-22 15:04] shartoo opened #41 "How can i custom a Card as a Node?"
According to the [node types example](https://vueflow.dev/docs/api/nodes/node-types) ,the only things i could change is the data property, but how can i present an image as Node background and add some action on the node?

[2022-03-22 16:19] bcakmakoglu commented on #41
You can use any component as a node basically.
The data property is to pass a custom data object to your node, i.e.:

[code]

[code]

[Here's an example](https://codesandbox.io/s/vue-flow-playground-forked-ypviwv), though it uses the v0.4.0-API (slightly different for this case) but the concept is the exact same

[2022-03-23 05:43] #41 closed

[2022-03-26 17:39] ulissepress opened #44 "How can a user resize a node (is is tagged as 'resizable')?"
The use case flow:

1. The user select a node
2. The user can resize the node using the mouse (using for example the bottom right corner,
     that will display some kind of handle)

How this can be implemented ?

[2022-03-26 17:58] bcakmakoglu commented on #44
To implement a "resizable" node you would have to create a custom node that can support the resizing on a corner click.
Or you could check the onClick event for nodes and calculate where the click happened etc. but that seems more complicated than adding a custom node 😅

But generally you can change a node's size by applying styles to it, so an example implementation could look like this.
[code]

[2022-03-26 19:45] ulissepress opened #47 "Resizeable nodes [new feature]"
What about a new feature: at node level we can specify a new property **'resize'** with the following allowed values 'no', 'horizontal', 'vertical', 'both'.

When the value if not 'no', the user can change the node size using the mouse and related resize handle(s).

See this [discussion](https://github.com/bcakmakoglu/vue-flow/discussions/45) for more details.

[2022-03-27 16:20] ulissepress opened #49 "Examples not working on iOS with Safari browser"
I tried the various  [examples](https://vueflow.dev/examples) using an iPad with Safari and no one is working.
Instead using Google Chrome all is ok.

I also tested the examples in my Mac with Safari and they are fines (i.e. the problems is only with Safari mobile)

[2022-03-27 16:58] bcakmakoglu commented on #49
Thanks for reporting.
What kinda of iPad were you using and what version of Safari?
Can you describe what happens when you visit a page? Does the whole page break or is the flowchart missing?
Maybe also a screenshot? 😄

[2022-03-27 17:12] ulissepress commented on #49
I am using an iPad Air (latest iPad OS, 15.4, so same versione for Safari mobile 15.4).

What happen is that the nodes are rendered, the edges are not, and there is no interaction possibile (nodes cannot be moved and/or selected).

So from the UI point of view you see all the nodes without any edge.

[2022-03-27 17:29] bcakmakoglu commented on #49
Might be related to the css issue in #30 but not 100% sure on that.
I will look into it.

[2022-03-28 14:42] nobilik opened #50 "Can't create new edge (js)"
Hi! At first thanks for your work!
Can't understand what I'm doing wrong...
[code]
and the console output is:
[code]
`Uncaught TypeError: t is undefined`

my custom node:
[code]

[2022-03-28 15:12] bcakmakoglu commented on #50
Hi and thanks!

Are you using version 0.3.x? Or the beta (0.4.0-x)?

[2022-03-28 15:18] nobilik commented on #50
@bcakmakoglu sorry 0.4.0-12

[2022-03-28 15:39] bcakmakoglu commented on #50
The label prop has been moved from `data` so you might be getting the error because you're trying to access label from `node.data.label`.
So it's not `node.data.label` anymore but just `node.label`.
This is of course only true, if you're not manually passing the label in your data object 😄

If you're on 0.4.0-x and using composition-api I recommend *not* using the `addEdge` utility but instead use

[2022-03-28 17:00] bcakmakoglu commented on #50
Can you explain that more?
You create an edge with `addEdges` - then remove the edge - how? just removing from your elements? - then add _the same_ edge again? Or are you just adding another one with `addEdges`?

[2022-03-28 17:37] bcakmakoglu commented on #50
I just deployed `0.4.0-14` - can you update your version and see if the issue persists? Just added a fix that might be related to the issue here as I can't seem to reproduce it using the steps you described.
Otherwise I'll try to set up a Quasar project and see if I can reproduce it that way.

[2022-03-29 03:09] nobilik commented on #50
Sorry for yesterday I was falling asleep. So, the problem was that I use <template> with multiple blocks <handle><card><handle> When I wrap everything into <div> the error gone. But :smile: now I have this warning `Failed setting prop "parentNode" on <div>: value undefined is invalid. TypeError: setting getter-only property "parentNode"`

[2022-03-29 07:24] bcakmakoglu commented on #50
I checked your code and there are some issues in it, you're importing ts-types in a js-vue file and mixing 0.3.x API with 0.4.0-x API.
[Here's a sandbox link](https://codesandbox.io/s/vue-flow-playground-forked-z20qcg?file=/src/App.vue) using your code (though without quasar) that throws no errors/warnings.

First thing to note is, if you're using composition, you can bind all events in your setup

[2022-03-29 08:47] nobilik commented on #50
As far as I understand `inheritAttrs: false,` removes the warning. No warnings. Thanks. But take a look for _Edge created between one node handles on handle doubleclick even on not custom node_ You can see it even in your code snippet

[2022-03-29 08:57] bcakmakoglu commented on #50
`inheritAttrs: false` just prevents props that you do not expect from being bound - which causes a warning usually.
You can remove `inheritAttrs` (which is true by default) and instead of using `v-bind="props"` bind your props seperately, i.e.
`<CustomNode :data="props.data" :label="props.label" />` so you avoid binding props your component does not expect.

The second part of your question I don'

[2022-03-29 09:00] bcakmakoglu commented on #50
Another note:
`Failed setting prop "parentNode" on <div>: value undefined is invalid. TypeError: setting getter-only property "parentNode"`

This error currently happens when you use a custom type for a node but you do not properly pass a slot or component for that type thus in your DOM there'll be an element with the <custom>-tag, which is not a valid tag to bind props to, hence the error.
I fixe

[2022-03-29 09:26] nobilik commented on #50
follow [your link](https://codesandbox.io/s/vue-flow-playground-forked-z20qcg?file=/src/App.vue) and doubleclick one of the handles on DelayNode for example. You will see an edge created between DelayNode handles

[2022-03-29 09:48] bcakmakoglu commented on #50
Ahh, now I see what you mean. Yeah that should obviously be prevented, good catch, thanks 😄
I will fix that asap.

[2022-03-29 11:13] bcakmakoglu commented on #50
Issue is fixed with `0.4.0-17`.

[2022-03-29 11:13] #50 closed

[2022-03-30 13:37] nobilik opened #53 "(Beta): node deletion brokes"
Hi!
got `o.value is undefined` when trying to delete node... Even on the basic example
here is the code:
[code]

[2022-03-30 14:32] bcakmakoglu commented on #53
Yeah, currently refactoring a bit for perfomance so you might wanna downgrade your beta version for now 😉
Should be fixed sometime today though.

[2022-03-30 15:01] nobilik opened #54 "Handle positioning"
Sorry for multiple issues :100:
Is it possible to move handle with styling? Or maybe you can add more predefined positions: 'top-right', etc...
I trying to make something like this
![example](https://user-images.githubusercontent.com/9859999/160866150-8743842e-f086-494f-a9bd-f9fc818b5e58.png)

[2022-03-30 15:41] bcakmakoglu commented on #53
Had to double check but it's fixed in version `0.4.0-24`.

[2022-03-30 15:41] #53 closed

[2022-03-31 00:38] jscoolso opened #56 "example DnD.vue t.drop is not a function"
drag-n-drop  example
Chrome browser Drag a node into the panel and an error will be reported in content.js

t.drop is not a function
<img width="445" alt="image" src="https://user-images.githubusercontent.com/52961832/160953249-efe08797-2828-484f-bfaf-d260b610f17c.png">

[2022-03-31 06:17] bcakmakoglu commented on #56
Hi and thanks for the report.

Can you provide more information?
Which version were you using? 0.3.x or the beta?
What is "content.js"? I do not provide any such file.
Are you using a certain ui framework?
Are you using the exact same code as the drag-and-drop example?

[2022-03-31 12:00] jscoolso commented on #56
Sorry, error in chrom debug mode, safrai is not wrong, looks like an interference!

[2022-03-31 12:00] #56 closed

[2022-03-31 13:40] nobilik opened #57 "getEdgeId"
Can you please make `getEdgeId` available to import? Or can you give me an advise how to modify an edge on connect?  I mean to make it arrowed, colored, labeled, etc...

[code]

[2022-04-03 08:59] nobilik opened #59 "Multiconnections"
Hi! Is it possible to connect multiple edges to one target handle? In my case it will be very useful.

[2022-04-04 19:42] #23 closed

[2022-04-04 19:42] #26 closed

[2022-04-04 19:42] #29 closed

[2022-04-04 19:55] bcakmakoglu commented on #29
Closed and fixed with #62

[2022-04-04 19:55] bcakmakoglu commented on #23
Closed and fixed with #62

[2022-04-04 19:56] bcakmakoglu commented on #26
Closed and fixed with #62.

Please open a new issue if the problem somehow persists on your end.

[2022-04-04 21:57] Mashiane opened #63 "CDN version to use in the <script> tag"
Hi there

Is it possible to have a dist for this that one can use in the <script> tag?

Thank you so much!

[2022-04-12 16:24] littlesmilelove opened #80 "Feature request: auto layout"
In the previous version, you mentioned using `dagre` to do auto layout, but in the recent version, I can't find this piece of content. And in my practice, `dagre` doesn't seem to work with custom nodes.
So, do you have plans to support auto layout?

[2022-04-12 18:02] #80 closed, assigned to nobody

[2022-04-20 08:09] terry8yu opened #96 "Why first node position always located at (0,0), whatever I initialize it?"
I found two issues:
1. When I put several nodes and edges into two array separately, and assign them to :nodes and :edges, also gave the nodes init position values, but the first (also the root) node is always located at (0,0), not the value I gave (340, 20);
![location-bug](https://user-images.githubusercontent.com/13606514/164179452-800cfba5-abbe-408b-85cd-2d414524a177.png)
2. If some of the edg

[2022-04-20 08:30] bcakmakoglu commented on #96
Hi, thanks for reporting!

What version are you using? What Browser were you testing this with?

I can't seem to reproduce the first issue, can you maybe create a minimal reproduction?
Here's a [sandbox](https://codesandbox.io/s/jovial-wave-ww09ir?file=/src/components/Basic.vue) where I try to emulate your case.

You assign some initial nodes and edges and pass them to vue flow using the `:nodes="

[2022-04-20 09:15] bcakmakoglu commented on #96
I have a fix for the overflow issue, which I can push into a pre-release so you could test it out if you'd like.

[2022-04-20 10:35] terry8yu commented on #96
Thanks, I can't reproduce the first issue in the sandbox, but I just re-assign the init value(not the same, re-assign the same value doesn't work) to the first node after the decoding node-data from a file, it works now. Do twice reassign can get what I want.
For the second issue I will try ur new update, Thanks!!

[2022-04-20 13:41] bcakmakoglu commented on #96
@terry8yu Can you maybe give me a code example of the decoding?
Just a basic overview of what you do roughly so I can try and re-create it for future cases.

[2022-04-20 16:50] bcakmakoglu commented on #96
@terry8yu Can you try installing the `@0.4.7-0.pr92` version and see if that version solves the edge overflow issue? 😄 I would be thankful if you tested it out on your end.

[2022-04-20 16:51] bcakmakoglu commented on #30
@Dimonka2 Can you possibly try installing `@0.4.7-0.pr92` and see if that version solves works? I would be thankful if you tested it out on your end 😄

[2022-04-21 18:05] bcakmakoglu commented on #28
@vvroul fyi
After long analysis and trying basically everything that came to mind I think I got it down to some specific issues, namely disposal of some watchers, state values and resize observers.
My latest test in the Empty Example seemed to work as expected: I click a button about ~200 times and during that time the stack size *does* increase (as nodes are made reactive so there's going to be s

[2022-04-21 18:07] bcakmakoglu commented on #96
I'll close the issue for now.
If you got any more issues, please open a new one

[2022-04-21 18:07] #96 closed

[2022-04-23 02:40] SirMishaa opened #113 "An issue to say thank you"
I started using this library a few days ago and it is wonderful.

I wanted to say thank you, really, this contribution to the Vue ecosystem is wonderful.

Thank you very much to you and to the contributors for this work, it's very enjoyable. ❤️

[2022-04-23 13:45] bcakmakoglu commented on #113
Thank you very much for your kind words 😄
This keeps me motivated updating Vue Flow further, so your "issue" is very much appreciated

[2022-04-23 23:02] #113 closed

[2022-04-24 11:34] #28 closed

[2022-05-17 22:22] o1lab opened #138 "Please setup a discord server for this"
Nice project. Setting up a discord server will help the community.

Have been trying to get in touch with you over email.

[2022-05-17 22:40] bcakmakoglu commented on #138
Hey, thanks for the kind words :)
I was planning on setting up a Discord server but haven't gotten around yet.
If you messaged me via E-Mail it might just be that it got swept under as my Inbox isn't sorted currently and I get a ton of mails 😅
Is there a name to look out for so I can reply to your mail?

[2022-05-18 18:54] o1lab commented on #138
@bcakmakoglu : could you please help reach out. Really look forward to it.

[2022-05-20 11:05] o1lab commented on #138
Could we please schedule a call :D

[2022-05-22 17:05] #138 closed

[2022-05-22 17:07] bcakmakoglu commented on #30
I will close this issue for now - in the long run I hope to find a decent solution for this but currently it doesn't seem as big of an issue as there's not been multiple reports of this (tbf react flow doesn't solve this either)

[2022-05-22 17:07] #30 closed

[2022-05-27 21:41] bcakmakoglu commented on #49
I'll close the issue as stale for now.
If you still experience this, please re-open a new issue with a detailed explanation and possibly error report so I can somehow try to solve the issue, otherwise there's nothing to go on really.

[2022-05-27 21:41] #49 closed

[2022-05-29 03:58] nihiyama opened #155 "Creating a new edge creates another useless edge"
# Title
Creating a new edge creates another useless edge

## Expected Behavior
Only created Edges are displayed.

## Current Behavior
In addition to the created Edge, another Edge will be created at (0, 0) position.

<img width="1166" alt="スクリーンショット 2022-05-29 12 55 14" src="https://user-images.githubusercontent.com/41140574/170851396-800b0079-3784-4785-a586-8db1cfd1d6cf.png">

## Possible Solutio

[2022-05-29 06:04] bcakmakoglu commented on #155
As I said in the PR: I would in general recommend not using `addEdge` and instead using `addEdges` provided by `useVueFlow`.

`addEdge` is just a "legacy" version of `addEdges` and will most likely be removed in the future as it a) skips creating an actual change for Vue Flow (i.e. no `EdgeChange` of Type `AddEdgeChange` is triggered) and b) it skips applying default edge options that have already

[2022-05-29 07:47] bcakmakoglu commented on #155
Fixed with #154

[2022-05-29 07:47] #155 closed

[2022-05-29 14:48] nihiyama commented on #155
Thank you for your suggestion!
I will use `addEdges`

[2022-06-03 11:15] hrenly opened #164 "Can't use vue-flow in popup"
# Title
I try to use vue-flow in popup (quasar dialog https://quasar.dev/vue-components/dialog), but component gets pane-ready event only after window resized

## Expected Behavior
Vue-flow gets pane-ready event when a popup was show

## Steps to Reproduce
Put vue-flow to a popup and open this popup

[2022-06-03 11:37] bcakmakoglu commented on #164
Hey, thanks for reporting.

I see the issue in a reproduction.
There seems to be something wrong with the dimension detection of the viewpane so the opacity value never changes and nodes aren't shown and if nodes aren't shown, edges aren't rendered either.
I'll look into it.

[2022-06-03 16:42] bcakmakoglu commented on #164
@hrenly
Okay so what I *can* fix is, is that the Viewpane should display all nodes after properly mounting and detecting some dimensions from it's container. (will be released with the next version but it's not necessary for the solution below)

⚠️ **But** depending on the transition that's used that will result in edges not properly connecting - the issue is the transition applied by the q-dialog

[2022-06-03 19:32] #164 closed

[2022-06-06 07:02] hrenly commented on #164
@bcakmakoglu
I tried and everything works. Thank you very much again, a very necessary component.

[2022-06-06 17:43] akoboy opened #174 "Wrong Handle position on nodes with dynamic height"
# Wrong Handle position on nodes with dynamic height

## Expected Behavior
When node height changes, handle position will update

## Current Behavior
When node height changes, handle position not changing and edge drawn from old position

## Steps to Reproduce
Custom node with textarea which changes node height.

Handle component:
[code]

## Detailed Description
Screencast:

https://user-images.gi

[2022-06-06 18:03] bcakmakoglu commented on #174
Hey, thanks for reporting.
Can you tell me what exact version you were using?

[2022-06-07 02:34] mianlang opened #175 "Missing arrow end/start of an Edge"
## Expected Behavior
An arrow appears on the end of the edge when `makerEnd` property given.

## Current Behavior
No arrows on edges.

## Steps to Reproduce
https://vueflow.dev/examples/edges.html
[code]
But there is no arrow pointing to Output 7 from Node 5 on Preview.

## Detailed Description
I noticed slight difference on type definition of `markerEnd` property when compared with React Flow. I'

[2022-06-07 05:31] bcakmakoglu commented on #175
Thanks for reporting.
The issue is fixed an will be released with 0.4.18 - probably sometime today/tomorrow 😄

[2022-06-07 16:33] #175 closed

[2022-06-07 16:37] bcakmakoglu commented on #175
released with [`0.4.18`](#170)

[2022-06-10 10:43] bcakmakoglu opened #181 "Bug: Edges not updatable"
### Discussed in https://github.com/bcakmakoglu/vue-flow/discussions/180

<div type='discussions-op-text'>

<sup>Originally posted by **m-tatsuya** June 10, 2022</sup>
I referred to "Updatable Edge" in Examples, but couldn't update Edge.
I placed the Source of Examples in my project and checked it, but I couldn't update Edge as well.

Do you need more action than in the Examples source?
(Reference

[2022-06-10 13:54] #181 closed

[2022-06-10 14:28] bcakmakoglu commented on #174
@akoboy have you seen my comments? :) I need a little help reproducing the issue properly

[2022-06-15 17:45] bcakmakoglu commented on #174
@akoboy ping

[2022-06-22 15:10] bcakmakoglu opened #204 "Connection Mode `loose` not working correctly"
# Connection Mode `loose` not working correctly

When using `ConnectionMode.Loose` edges are still created from target/source handles instead of *any* handle (which `loose` should enable)

## Expected Behavior

Creating edges works from any handle and connects to that handle instead of another one

## Current Behavior

Edges are only created at source/target positions.

[2022-06-22 15:13] #204 closed

[2022-06-30 08:43] bcakmakoglu commented on #174
@akoboy ping, can you help me with a sandbox or anything which reproduces the issue?

[2022-07-04 09:28] AlexanderYW commented on #174
Hi @bcakmakoglu, I also experience something similar to this, when using dynamic generated handles / dynamic height and added css transform with translate -50% to the node to make centered on the XY coordinates

I did disable this due to that bug tho. But was thinking to look into your example with Teleport and shrink animation, to see if it can be centered with javascript instead visually when dr

[2022-07-04 09:42] bcakmakoglu commented on #174
@AlexanderYW When you dynamically generate handles you need to call the `updateNodeInternals` function (or emit that event from your custom node) so the node itself is aware of new handles. Otherwise your node does not recognize handles that have been created _after_ the node was already parsed and placed.

If possible, can you provide a minimal reproduction so I can possibly debug the issue? 😅

[2022-07-04 10:56] AlexanderYW commented on #174
Thanks, might look at the updateNodeInternals if i encounter that issue again

Regarding the reproduction repo, sure I can provide one, but it will earliest be in 10 days time ish

[2022-07-04 11:01] bcakmakoglu commented on #174
@AlexanderYW Anytime you can provide is fine with me =) I just can't seem to reproduce it myself for some reason.
Any resizing I have been using did not produce the issue shown here, so I must be doing something wrong in reproducing it.

[2022-07-05 20:18] roonie007 opened #220 "[FEATURE]: gradient connection line color"
is it possible to add a gradient colored options line like in the picture below (line 1 -> 2 )

![image](https://user-images.githubusercontent.com/7860859/177408748-b1d9d9c7-2e01-44e0-9d46-8ba97a4d2284.png)

[2022-07-06 09:40] Yeenyeong opened #222 "custome edge doesn't work"
I've implemented my custom edge with desired style. I found, however, the default type was still used to form connections when I drag a handle to another when connecting. How can I solve it?

[2022-07-06 09:46] bcakmakoglu commented on #222
Edges and the connection line aren't the same.
That means if you use `edge.type` it will not affect the connection line.

There is a slot for the connection line that you can fill in with a custom component that has your desired styles.
[See here the example for custom connection lines.](https://vueflow.dev/examples/edges/connection-line.html)

[2022-07-06 10:42] Yeenyeong commented on #222
I haven't described the situation well. Actually I want a custom edge, not a custom connection line.
I added edges by moving mouse from a handle of a node to another. But eventutally edges of default type were added.

[2022-07-06 11:04] Yeenyeong commented on #222
It work! The problem has stopped me one or two days. Your help did give me energy to go on. Sincere thanks to you!

[2022-07-06 11:05] bcakmakoglu commented on #222
@Yeenyeong  No problem! If you encounter problems, don't hesitate to ask as many questions as you need 😄

[2022-07-12 11:45] insssomniac opened #227 "Conditional adding edges"
Hello,

I'd like to call addEdges([params]) function conditionaly, if the params is right, but as I see the edge creates regardless of this function call (so i can remove the addEdges() from the code and the new edges still will be created).

Please tell me how I can conditionaly create the new edges ( with nodes it is work: addNodes([newNode]) creates the new node and if the conditions isn't fit,

[2022-07-12 12:11] bcakmakoglu commented on #227
Yeah this is a bug with the `auto-connect` prop. It seems to be triggered regardless of setting the prop.

Your first attempt was completely correct, you should add edges using the `addEdges` action.

The bug will be fixed in `v0.4.28`.

[2022-07-12 12:41] insssomniac commented on #227
great, thanks!

[2022-07-16 12:32] bcakmakoglu commented on #174
@AlexanderYW
Any news for me? 😄

[2022-07-16 12:37] #227 closed

[2022-07-16 12:41] bcakmakoglu commented on #227
@insssomniac `v0.4.28` is out and the fix is in there, let me know if you encounter any more issues :)

[2022-07-17 11:39] AlexanderYW commented on #174
Sadly not @bcakmakoglu ! I had an hour on Thursday and tried doing what I did to experience the issue, but i could not reproduce it, will look at it again later today or beginning next week, I think I'm forgetting something 😵

[2022-07-20 09:50] AlexanderYW commented on #174
@bcakmakoglu I'm unable to reproduce the issue again

I did a basic implementation of what i did when last time when i first met the issue, and i dont see it now. What I did was I implemented "drag n drop components to canvas" and a custom node component with transform -50% on x and y axis to center the dropped component.

Maybe the issue is i wasn't using script setup back then.. But I have no cl

[2022-07-21 09:25] Yeenyeong opened #237 "label style on an edge like hover in css?"
I've used EdgeText to implement a label on an edge. And the static style of the label has been set. Now I want to set the style when the mouse is over the label. Something like 'hover' in css.
Is it supported by the project?

[2022-07-26 12:06] LuRM opened #242 ":zoom-on-pinch="false" not work"
I set the property zoom-on-pinch to false, but is it still possible to zoom in and out when pinching (touch or trackpad).
code example:
[code]

[2022-07-26 12:15] bcakmakoglu commented on #242
Thanks for reporting!

That is a bug, yea. Unfortunately the watcher assumes it shouldn't watch falsy values.
Will be fixed with the next patch.

[2022-07-27 02:15] LuRM commented on #242
:zoom-on-double-click="false" doesn't work either

[2022-07-27 20:49] #242 closed

[2022-07-27 20:52] bcakmakoglu commented on #242
@LuRM fixed with `0.4.31`

[2022-07-29 01:00] jayrchamp opened #253 "NodeWrapper events (onMouseEnter, onMouseMove, onMouseLeave) not being emitted"
# NodeWrapper events (onMouseEnter, onMouseMove, onMouseLeave) not being emitted

In the file NodeWrapper.vue, it seems like the following methods: onMouseEnter, onMouseMove and onMouseLeave will never be able to trigger the event since "dragging" is a ref object and will always result to be true.

It should be changed to "dragging.value" so that it is correctly evaluated.

Example:
[code]

Thank

[2022-07-29 07:09] bcakmakoglu commented on #253
Nice catch, thanks.
Ill merge the PR and release the fix during the day 👍

[2022-07-30 13:13] bcakmakoglu commented on #253
@jayrchamp released with `0.4.33`

[2022-07-30 13:13] #253 closed

[2022-07-31 12:56] bcakmakoglu commented on #174
@AlexanderYW I'm not sure if it's a really good idea to use `transform` to position your node after dropping - that would most certainly de-sync what Vue Flow holds as the nodes' position with what you visually see as the nodes' position.
Edges don't really care about how you visualize your node components on top of the node that Vue Flow holds for you, it will always be relative to the position V

[2022-07-31 12:57] bcakmakoglu commented on #174
If this problem still persists, please re-open an issue with a possible reproduction of the problem, otherwise I can't really do anything about it.

[2022-07-31 12:57] #174 closed

[2022-08-08 11:08] clabnet opened #265 "TypeError: Cannot read properties of undefined (reading 'position') and (reading 'id')"
Adding a node to board, then try to delete it with BACKSPACE key.
Using vue-flow 0.4.35 and vite 3.0.4

## Expected Behavior
I would delete the node

## Current Behavior
Console errors
[code]

## Steps to Reproduce
[Minimal Github repo](https://github.com/clabnet/vue3-ts-vite-vueflow-naiveui)
1. Add a node to board
2. Select node
3. Press BACKSPACE key to delete it

[2022-08-08 11:10] bcakmakoglu commented on #265
Thanks for reporting, I'll take a look :)

[2022-08-08 14:44] LuRM opened #267 "Is there any API for automatic typesetting?"
For example: when a node is connected by multiple polylines in the same direction, how to merge the paths to display more beautifully.

[2022-08-08 17:18] #265 closed

[2022-08-08 17:21] bcakmakoglu commented on #265
@clabnet Fix released with `v0.4.36`

[2022-08-08 18:42] pjatx opened #269 "Support for Multiple Source and Target Positions?"
Hey There,

Thanks for the amazing library! Wondering if it's possible to allow edges to connect to more than one position / side of a node. I have a complex workflow where I want nodes coming in and exiting from both the tops / bottoms and sides and am unsure how to accomplish that currently.

Any help would be greatly appreciated.

[2022-09-07 16:40] StefanFabian opened #278 "Snap grid snaps based on starting location"
## Expected Behavior
Snap grid should snap all nodes to multiples of the grid resolution.

## Current Behavior
The elements snap but it seems to be based on their starting position, hence, it is possible for two elements to be slightly misaligned.

## Steps to Reproduce

1. In interaction example: https://vueflow.dev/examples/interaction.html
2. Add ` :snap-to-grid="true"` in editor to `VueFlow` e

[2022-09-07 17:59] bcakmakoglu commented on #278
Thanks for reporting, I can see the issue 👍

[2022-09-12 19:37] mspostolov opened #280 "Edges are not created if vue-flow is placed in shadow dom"
Hello!
I found a mistake in the code https://github.com/bcakmakoglu/vue-flow/blob/9ea87c878c327b7d99c75f657ee196172e2862aa/packages/vue-flow/src/utils/graph.ts#L38
It should be `'elementFromPoint'` instead of `'getElementFromPoint'`
`getHostForElement` always returns `window.document` now.

Because of this, edges are not created if vue-flow is placed in shadow dom (vue custom element).

[2022-09-12 20:23] bcakmakoglu commented on #280
Thanks for reporting! :)
You're right, I will release a fix asap

[2022-09-13 21:50] bcakmakoglu commented on #280
@mspostolov Do you require the fix soon? I could provide a release tomorrow if necessary :)

[2022-09-14 00:14] mspostolov commented on #280
It will be great if you release tomorrow. Thanks for the quick fix!

[2022-09-14 12:19] bcakmakoglu commented on #280
@mspostolov I might have to defer the release to tomorrow because I would like to fix the snap grid issue as well before publishing - if that takes too long though I will still publish a release with this fix
Latest will be tomorrow, promise 😄

[2022-09-14 18:07] #278 closed

[2022-09-14 18:07] #280 closed

[2022-09-14 18:15] bcakmakoglu commented on #280
@mspostolov Fixed and released with `0.4.40`

[2022-09-14 18:15] bcakmakoglu commented on #278
@StefanFabian Fixed and released with `0.4.40`

[2022-09-14 21:22] StefanFabian commented on #278
Nice, thanks for the quick fix! Just tested and works as expected :+1:

[2022-09-15 10:47] limyxi opened #285 "Lines will overlap"
![image](https://user-images.githubusercontent.com/20531560/190384712-95425168-df22-4868-906c-aad956a08b46.png)

How to avoid overlapping lines，it will make the flow unclear

[2022-09-16 06:33] LuRM opened #288 "When I modify the value of the data of the custom node, then connect the line, an error will be reported."
Hi! Both my nodes and edges are custom.
When I modify the value of the data of the custom node, then connect the line, an error will be reported.

<img width="551" alt="image" src="https://user-images.githubusercontent.com/28555984/190572130-54298fcd-005c-4ea8-8628-576c161f2a8c.png">

[2022-09-16 07:37] bcakmakoglu commented on #288
Any more information so that I can actually look at the issue?
Code examples? Reproduction?
Anything?

This tells me literally nothing except that you can do screenshots.

[2022-09-16 09:00] LuRM commented on #288
I didn't describe it clearly enough.
[code]
Next, I will modify the data of the node.

<img width="431" alt="image" src="https://user-images.githubusercontent.com/28555984/190599300-095f3acf-fa88-4782-bc83-095dacc9a6c6.png">

onConnect
<img width="551" alt="image" src="https://user-images.githubusercontent.com/28555984/190598737-e773da76-ce36-470c-9ccb-c9ae8bf43508.png">

[2022-09-16 09:27] bcakmakoglu commented on #288
Are you using the latest version or are you on another one?

[2022-09-16 09:41] bcakmakoglu commented on #288
Also is there any more to the error?
Any message that says more than the one's in the screenshot?
Those just indicate that Vue wasn't able to replace an element, which doesn't really tell me why 😄

[2022-09-16 09:43] bcakmakoglu commented on #288
Also `edgeType` is not a valid property for edges.
There is only `type` for edges and nodes, so you code should be changed to

[code]

[2022-09-16 09:55] bcakmakoglu commented on #288
Are you possibly using the data to render components in your node?
It might be that when you "reset" your data obj to `{}` you cause those components to crash due to missing properties?

I tried to emulate your case and didn't receive any errors for it; [Here's a sandbox](https://codesandbox.io/s/festive-cache-301kdz?file=/src/components/ColorSelectorNode.vue)

I would assume that nothing is wrong

[2022-09-16 13:56] LuRM commented on #288
Wrong here, the code is `type`

[2022-09-16 14:00] LuRM commented on #288
Yes. I use data to render the component in my node. But the error content is about flow. I also checked the code, data property are not missing.

[2022-09-16 14:01] LuRM commented on #288
Yes. I use data to render the component in my node. But the error content is about flow. I also checked the code, data property are not missing.

[2022-09-16 14:29] LuRM commented on #288
I mean, in my code, I use `type`. `edgeType` here it is written wrong.
I am currently using the latest version. Sorry, here is indeed the vue error.
<img width="948" alt="image" src="https://user-images.githubusercontent.com/28555984/190661001-ea9178c7-1f8e-4161-b03b-561ce566395d.png">
I will try to reproduce in the sandbox.

[2022-09-19 04:04] LuRM commented on #288
Hi, I found the reason for the error. Not related to vue-flow, thank you very much for your reply. I will close this issue.
Thank you also for providing such a useful component.

[2022-09-19 04:04] #288 closed

[2022-10-04 12:25] insssomniac opened #291 "When deleting a node, the neighboring edge deletes"
Issue tracker is **ONLY** used for reporting bugs.

New features should be discussed in the [discussions](https://github.com/bcakmakoglu/vue-flow/discussions).

# Title
When deleting a node, the neighboring edge deletes also.

## Expected Behavior
When you delete a node -- only edges, connected to it, should be deleted also.

## Current Behavior
When deleting a node, the neighboring edge deletes a

[2022-10-04 12:27] bcakmakoglu commented on #291
Can you add a sandbox as well?
Here's a template:  https://codesandbox.io/s/frosty-minsky-20b0ge

That would be very helpful thank you :)

[2022-10-04 13:37] bcakmakoglu commented on #291
Using your instructions doesn't yield the results you describe.
All the edges seem to be deleted properly.

As mentioned, please provide a sandbox reproduction please :)

[2022-10-04 13:50] insssomniac commented on #291
For some reason i have an error during running the sandbox, so i just created the repository and recorded the video.
Repo: https://github.com/insssomniac/vue-flow-example , just clone it and run `npm run serve`
Video: https://drive.google.com/file/d/1qvd8SP2lU--ZHR3uxPgONOPWZ3L3q503/view?usp=sharing

[2022-10-04 14:04] bcakmakoglu commented on #291
Mh....I am using your repo and can't seem to be able to reproduce the issue as in your video.

https://user-images.githubusercontent.com/78412429/193840265-01a402f7-8446-48da-be56-783f819c4610.mov

Are there any specific logs when the issue appears?
What browser are you using?

[2022-10-04 14:16] insssomniac commented on #291
Very strange. I'm on Chrome Version 106.0.5249.61 (Official Build) (64-bit) also tried on Firefox, and had the same issue. Also my colleague faced to the same issue
I recorded again with console opened, maybe it will help
[vue-flow-error-2nd.webm](https://user-images.githubusercontent.com/42058438/193843379-038434dd-96e9-4608-b0d3-d406fcbe442b.webm)

[2022-10-04 14:46] bcakmakoglu commented on #291
I can't view the  video you linked, can you link it in a different way? 😄

[2022-10-04 14:54] bcakmakoglu commented on #291
Also can you make sure that your browser isn't somehow overwriting the css rule for `.vue-flow__edges`?

It needs to have the overflow rule
[code]

[2022-10-04 20:05] Modjular opened #292 "[Documentation] Broken links in graph.md"
https://github.com/bcakmakoglu/vue-flow/blob/master/docs/src/guide/utils/graph.md

Most of the header links in the guide are broken.

[2022-10-04 20:06] bcakmakoglu commented on #292
@Modjular They're not meant to be accessed through the repo but through the actual docs page :)
The links work fine here: https://vueflow.dev/guide/utils/graph.html

[2022-10-04 20:09] bcakmakoglu commented on #291
@insssomniac

Replace the following code:

[code]

with

[code]

In most cases you should not be using `applyNodeChanges` or `applyEdgeChanges` yourself and if you do then only to intercept the change handlers (for some possible validation for example).
Instead use the appropriate actions for that like `addNodes` or `removeNodes` etc. which will emit these changes through the proper channels and y

[2022-10-04 20:16] Modjular commented on #292
oh lol my bad

[2022-10-04 20:16] #292 closed

[2022-10-04 20:44] bcakmakoglu opened #295 "Using `updateEdge()` with Composition API doesn't immediately render update"
### Discussed in https://github.com/bcakmakoglu/vue-flow/discussions/294

<div type='discussions-op-text'>

<sup>Originally posted by **Modjular** October  4, 2022</sup>
Here's how I'm using `updateEdge` in my SFC
[code]
And my `VueFlow` config
[code]

When dragging the edge to a new handle, it updates the store, but the changes don't appear until I cause a re-paint, such as dragging a node.

Am I

[2022-10-05 11:10] insssomniac commented on #291
@bcakmakoglu `removeNodes([e.node])` instead `applyNodeChanges` solved the issue, thanks!
I don't remeber why i decided to use applyNodeChanges, but i'll replace as you said for nodes and for edges.

[2022-10-07 20:59] bcakmakoglu commented on #291
@insssomniac
With `0.4.41` it should work with applyEdgeChanes as well - you should still use `removeEdges` instead though 😄

[2022-10-07 20:59] #291 closed

[2022-10-07 20:59] bcakmakoglu commented on #295
Fixed with `0.4.41`

[2022-10-07 20:59] #295 closed

[2022-10-13 08:47] bcakmakoglu opened #324 "🐛 Bug: connectOnClick resets before connections can be made"
### Discussed in https://github.com/bcakmakoglu/vue-flow/discussions/323

<div type='discussions-op-text'>

<sup>Originally posted by **nobilik** October 13, 2022</sup>
Hi! Just migrate from 0.xx to actual project version and now to connect nodes user must drag the edge. Before it was possible to click at start and end handles. I found connectOnClick property, but it gives me nothing. Maybe I use

[2022-10-13 21:35] bcakmakoglu commented on #324
Fixed in `v1.1.1`

[2022-10-13 21:35] #324 closed

[2022-10-14 19:09] Modjular opened #338 "🐛 [BUG]: Missing type declarations for the new `@vue-flow/additional-components` package"
### Is there an existing issue for this?

- [X] I have searched the existing issues and this is a new bug.

### Current Behavior

When importing any components from `@vue-flow/additional-components`
[code]
I get the following Typescript error:

    Cannot find module '@vue-flow/additional-components' or its corresponding type declarations.ts(2307)

### Expected Behavior

I expect no import errors.

[2022-10-14 19:12] bcakmakoglu commented on #338
Can you provide a reproduction for that? I use the package with TypeScript without having any errors whatsoever.
There are type declarations available (you can check yourself if you want to).

<img width="968" alt="image" src="https://user-images.githubusercontent.com/78412429/195923115-11a92456-d2c0-4022-89f1-e405be54acd9.png">

What does your tsconfig look like? have you tried re-installing node

[2022-10-14 19:48] Modjular commented on #338
I feel silly, I don't know why I didn't restart my IDE. No more errors!

[2022-10-14 19:48] #338 closed

[2022-10-15 01:39] ricardosasilva commented on #25
For anyone having the same problem, change the CSS selector from #app to #__nuxt.

[2022-10-17 07:10] wang-ran opened #345 "🐛 [BUG]: <npm install is not the latest version>"
### Is there an existing issue for this?

- [X] I have searched the existing issues and this is a new bug.

### Current Behavior

When using NPM installation, the 1.0.0 version is installed

### Expected Behavior

install the latest version (1.1.3)

### Steps To Reproduce

_No response_

### Relevant log output

_No response_

### Anything else?

_No response_

[2022-10-17 07:14] bcakmakoglu commented on #345
No idea what you're doing to install (did you just define the version manually in your package.json?)
Because
1. 1.1.3 is the *latest* tag
<img width="207" alt="image" src="https://user-images.githubusercontent.com/78412429/196112204-b0b7b113-57a5-4abe-bf25-f0b737b56a53.png">

2. It shows up as latest on npm
<img width="471" alt="image" src="https://user-images.githubusercontent.com/78412429/19611

[2022-10-17 07:14] #345 closed

[2022-10-17 20:15] bcakmakoglu opened #347 "🐛 [BUG]: Dragging a node does not unselect previous node"
### Is there an existing issue for this?

- [X] I have searched the existing issues and this is a new bug.

### Current Behavior

When selecting a node and then starting to drag another node (while multiselect is off), the selected node is also dragged, i.e. it's not unselected.

### Expected Behavior

When multi select is off, starting to drag a different node should unselect the previous node.

[2022-10-17 20:18] bcakmakoglu opened #348 "🐛 [BUG]: Clicking same element with multi-select is not unselecting the element"
### Is there an existing issue for this?

- [X] I have searched the existing issues and this is a new bug.

### Current Behavior

When multi select is active and a selected element is clicked again, it is not unselected.

### Expected Behavior

A selected element should be unselected when multi select is active.

### Steps To Reproduce

1. Hold multi select key
2. Select an element
3. Click it aga

[2022-10-18 10:00] bcakmakoglu commented on #348
Seems to work correctly after further investigation - seems to have been a hot-reload issue 😅

[2022-10-18 10:00] #348 closed

[2022-10-18 11:58] AlexanderYW opened #351 "🐛 [BUG]: Control icons not visible in safari browser"
### Is there an existing issue for this?

- [X] I have searched the existing issues and this is a new bug.

### Current Behavior

Currently icons is hidden in the safari browser but visible in chrome and edge

![Screenshot 2022-10-18 at 13 53 25](https://user-images.githubusercontent.com/4184558/196422295-4c92f5fd-e331-4693-bd28-86fd0ce5a5e0.png)

Safari by default has this css rule provided by th

[2022-10-18 12:00] AlexanderYW commented on #351
This is quite a small bug, but if you feel like it's faster that you look it yourself then go for it, else i might have time to make a PR for this later this week :)

[2022-10-18 12:33] bcakmakoglu commented on #351
Thanks for reporting.
As you suggested I opened up a PR with your fix #352 :)

[2022-10-18 14:37] bcakmakoglu commented on #347
Also seems to work fine on further investigation 🤭

[2022-10-18 14:37] #347 closed

[2022-10-18 16:48] #351 closed

[2022-10-18 16:55] bcakmakoglu commented on #351
Fixed with `v1.1.4`

[2022-10-18 19:16] AlexanderYW commented on #351
Awesome thanks! 💪

[2022-10-19 17:26] TheOneTrueLX opened #364 "🐛 [BUG]: incorrect filenames in package.json prevents @vue-flow/resize-rotate-node from being imported"
### Is there an existing issue for this?

- [X] I have searched the existing issues and this is a new bug.

### Current Behavior

@vue-flow/resize-rotate-node fails to load in vite with the following error:

`10:14:30 AM [vite] Internal server error: Failed to resolve entry for package "@vue-flow/resize-rotate-node". The package may have incorrect main/module/exports specified in its package.json.

[2022-10-19 20:28] bcakmakoglu commented on #364
Thanks for pointing that out, I'll fix that asap :)

[2022-10-21 16:58] bcakmakoglu commented on #364
Should be fixed with `v1.0.1` of resize-rotate-node pkg. If not let me know :)

[2022-10-21 16:58] #364 closed

[2022-10-25 13:31] bcakmakoglu opened #376 "🐛 [BUG]: `elementsSelectable` does not disable user selection rect"
### Is there an existing issue for this?

- [X] I have searched the existing issues and this is a new bug.

### Current Behavior

When disabling `elementsSelectable` the user can still create a selection box around elements and select them through that.

### Expected Behavior

When `elementsSelectable` is set to false, a user should not be able to create a selection box.

### Steps To Reproduce

_

[2022-10-25 15:47] bcakmakoglu commented on #376
Related PR: #378

[2022-10-25 17:28] bcakmakoglu commented on #376
Fixed with `1.2.1`

[2022-10-25 17:28] #376 closed

[2022-11-02 09:30] bcakmakoglu opened #385 "🐛 [BUG]: connectable `single` to apply on each handle (for default node types) instead of all at once"
### Is there an existing issue for this?

- [X] I have searched the existing issues and this is a new bug.

### Current Behavior

Setting `single` on default node types will disable connections when *one*  handle is connected, not all of them.

### Expected Behavior

It should apply per handle, not per node.

### Steps To Reproduce

_No response_

### Relevant log output

_No response_

### Anythi

[2022-11-04 13:21] robcomoe opened #390 "🐛 [BUG]: source handle can be connected to source handle of a node with only a source handle"
### Is there an existing issue for this?

- [X] I have searched the existing issues and this is a new bug.

### Current Behavior

Hey! First of all, thank you for your fantastic work, this is a great framework :)

I encountered a bug. If you have a "start" node with just one `source` handle and no `target` handle, and another node with both a `target` and a `source` handle, and you connect the fir

[2022-11-04 15:18] bcakmakoglu commented on #390
Thanks for reporting, I'll see what is going wrong 😄

[2022-11-04 15:51] bcakmakoglu commented on #390
Alright, so there is a bug but I think there's also a misunderstanding here as well.

First - the misunderstanding.
When `ConnectionMode` is set to `Loose` (which it is by default), all connections are allowed. Meaning source/source and target/target are actually allowed.
When `ConnectionMode` is set to `Strict` these connections aren't allowed *at all* and will not produce a valid connection, so

[2022-11-04 16:29] robcomoe commented on #390
Thanks for the fast response!
I see I can reproduce this bug on React Flow as well, so maybe it would be better to make a bug report there.

So what exactly was your intention here?

I think the "jumping" behaviour is actually a nice feature, it just holds the bug that it won't "fix" the connection in this edge case I mentioned.

Our need is that we implement a graphical programming environment si

[2022-11-04 17:07] bcakmakoglu commented on #390
My intended behavior, as described, is that `Loose` allows *any* handle connections, the `type` is basically ignored. So regardless of `source` or `target` type, it will allow a connection.
The "auto-correcting" or "jumping" is the bug in regards to the intended behavior. Either all connections are allowed or only those from `source` to `target` handles (and vice versa).

If you want to have this

[2022-11-04 17:26] bcakmakoglu commented on #390
Also, the jumping mechanism never auto-corrected anything. If you were to save these elements with the parameters given, you would have edges who would always try create lines between handles they aren't supposed to.
Vue Flow then would have to account for that and always try to find a correct connection instead (which could be different from what the actual parameters were you put in).

I'm imagi

[2022-11-04 21:07] bcakmakoglu commented on #385
Fixed in `1.2.2`

[2022-11-04 21:07] #385 closed

[2022-11-04 21:09] bcakmakoglu commented on #390
Behavior is fixed in `1.2.2` to what is currently intended (as described in the posts above).

If you'd like to propose a different connection mode, please open a Feature Request in the Discussions board :)

[2022-11-04 21:09] #390 closed

[2022-11-07 10:14] robcomoe commented on #390
Thanks for your explanation, that makes it clearer now.
In our usecase, it is not allowed to make branches, that means each handle can only hold one connection. Plus, each node has either 0 (a "start" node) or 1 `target` handle. So in our case, it is always clear how to re-wire.
But I understand that this is a specific edge case that has not necessarily considered to be implemented.
So I'll stick

[2022-11-22 22:05] bcakmakoglu opened #455 "possible bug with `removeNodes()` or its `v-model`"
### Discussed in https://github.com/bcakmakoglu/vue-flow/discussions/453

<div type='discussions-op-text'>

<sup>Originally posted by **ghiscoding** November 22, 2022</sup>
Hello, I think I discovered a bug with `removeNodes()` which is that it doesn't seem to delete the last node when there's only 1 node left in the canvas. I also replicated the same bug in the [Save & Restore - Example](https://

[2022-11-29 11:29] bcakmakoglu opened #458 "ConnectionLine props are mistyped"
### Discussed in https://github.com/bcakmakoglu/vue-flow/discussions/457

<div type='discussions-op-text'>

<sup>Originally posted by **RiadhAdrani** November 29, 2022</sup>
Hello,
While I was trying your library, which is fun, I tried to override the standard `ConnectionLine`, I copied the code from the [docs](https://vueflow.dev/examples/edges/connection-line.html#custom-connection-line), it wor